Flask==1.1.4
gunicorn==19.9.0
Jinja2==2.11.3
MarkupSafe==2.0.1
Werkzeug
numpy>=1.9.2
scipy>=0.15.1
nltk==3.5
scikit-learn>=0.18
pandas>=0.19
beautifulsoup4==4.9.1
jsonschema
tmdbv3api
lxml
urllib3
requests
pickleshare
itsdangerous